#urologyAbout {
  padding: 60px 0;
  background: #F8F9FB;

  .urologyAbout {

    h1 {
      color: #161719;
      font-size: 45px;
      font-weight: 700;
      text-align: center;
    }

    p {
      color: #535353;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      padding: 15px 0 55px 0;
    }

    &--blocks {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__text {
        h2 {
          color: #161719;
          font-size: 40px;
          font-weight: 700;
          width: 384px;
          line-height: normal;
        }

        p {
          width: 481px;
          text-align: start;
          padding: 45px 0 0 0;
          color: #000;
          font-size: 20px;
          font-weight: 400;
          line-height: normal;
        }
      }

      &__title {
        position: relative;

        &--block {
          display: flex;
          align-items: center;
          position: absolute;
          bottom: 50px;
          right: 45px;

          &__one{
            background: #40B1DE;
          }

          &__two{
            background: #0A0F2F;
          }

          &__one,
          &__two {
            padding: 10px 10px 0 25px;
            width: 267px;
            height: 170px;
            margin-right: 15px;
            border-radius: 13px;
            display: flex;
            flex-direction: column;

            h4 {
              color: #FFF;
              font-size: 22px;
              font-weight: 700;
            }

            h5 {
              color: #FFF;
              font-size: 66px;
              font-weight: 800;
              line-height: 50px;
            }

            p {
              text-align: start;
              color: #FFF;
              font-size: 15px;
              font-weight: 500;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  #urologyAbout {
    .urologyAbout {
      h1 {

      }
      p {

      }
      &--blocks {
        &__text {
          h2 {

          }
          p {

          }
        }
        &__title {
          img {
            width: 507px;
          }
          &--block {
            right: 35px;
            &__one {
              padding: 10px 10px 0 25px;
              width: 247px;
              height: 170px;
              h4 {

              }
              h5 {
                font-size: 62px;
              }
              p {
                width: 200px;
              }
            }
            &__two {
              padding: 10px 10px 0 25px;
              width: 247px;
              height: 170px;
              h4 {

              }
              h5 {
                font-size: 62px;
              }
              p {
                width: 220px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #urologyAbout {
    .urologyAbout {
      h1 {

      }
      p {

      }
      &--blocks {
        flex-direction: column;
        align-items: center;
        &__text {
          padding-bottom: 40px;
          h2 {

          }
          p {

          }
        }
        &__title {
          img {
            width: 507px;
          }
          &--block {
            right: 35px;
            &__one {
              padding: 10px 10px 0 25px;
              width: 247px;
              height: 170px;
              h4 {

              }
              h5 {
                font-size: 62px;
              }
              p {
                width: 200px;
              }
            }
            &__two {
              padding: 10px 10px 0 25px;
              width: 247px;
              height: 170px;
              h4 {

              }
              h5 {
                font-size: 62px;
              }
              p {
                width: 220px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #urologyAbout {
    .urologyAbout {
      h1 {

      }
      p {

      }
      &--blocks {
        flex-direction: column;
        &__text {
          padding-bottom: 40px;
          h2 {

          }
          p {

          }
        }
        &__title {
          img {
            width: 507px;
          }
          &--block {
            right: 35px;
            &__one {
              padding: 10px 10px 0 25px;
              width: 247px;
              height: 170px;
              h4 {

              }
              h5 {
                font-size: 62px;
              }
              p {
                width: 200px;
              }
            }
            &__two {
              padding: 10px 10px 0 25px;
              width: 247px;
              height: 170px;
              h4 {

              }
              h5 {
                font-size: 62px;
              }
              p {
                width: 220px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #urologyAbout {
    .urologyAbout {
      h1 {

      }
      p {

      }
      &--blocks {
        flex-direction: column;
        &__text {
          padding-bottom: 40px;
          h2 {

          }
          p {

          }
        }
        &__title {
          img {
            width: 507px;
          }
          &--block {
            bottom: 50px;
            right: 0;
            &__one {
              padding: 10px 10px 0 20px;
              width: 227px;
              height: 170px;
              h4 {

              }
              h5 {
                font-size: 60px;
              }
              p {
                width: 200px;
              }
            }
            &__two {
              padding: 10px 10px 0 20px;
              width: 237px;
              height: 170px;
              h4 {

              }
              h5 {
                font-size: 60px;
              }
              p {
                width: 220px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #urologyAbout {
    .urologyAbout {
      h1 {

      }
      p {
        width: 90%;
        margin: 0 auto;
      }
      &--blocks {
        flex-direction: column;
        &__text {
          padding-bottom: 40px;
          h2 {
            margin: 0 auto;
            width: 90%;
          }
          p {

          }
        }
        &__title {
          img {
            width: 497px;
            margin: 0 auto;
          }
          &--block {
            right: 30px;
            &__one {
              padding: 10px 10px 0 20px;
              width: 45%;
              height: 190px;
              h4 {

              }
              h5 {
                line-height: 46px;
                font-size: 57px;
              }
              p {
                width: 160px;
              }
            }
            &__two {
              padding: 10px 10px 0 20px;
              width: 45%;
              height: 190px;
              h4 {

              }
              h5 {
                font-size: 59px;
              }
              p {
                width: 160px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #urologyAbout {
    .urologyAbout {
      h1 {

      }
      p {
        width: 90%;
        margin: 0 auto;
      }
      &--blocks {
        flex-direction: column;
        &__text {
          padding-bottom: 40px;
          h2 {
            line-height: 53px;
            font-size: 38px;
            margin: 0 auto;
            width: 90%;
          }
          p {

          }
        }
        &__title {
          img {
            width: 100%;
            margin: 0 auto;
          }
          &--block {
            right: 10px;
            &__one {
              padding: 10px 10px 0 15px;
              width: 45%;
              height: 200px;
              h4 {

              }
              h5 {
                line-height: 38px;
                font-size: 48px;
              }
              p {
                width: 140px;
              }
            }
            &__two {
              padding: 10px 10px 0 15px;
              width: 45%;
              height: 200px;
              h4 {

              }
              h5 {
                font-size: 48px;
                line-height: 42px;
              }
              p {
                width: 140px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #urologyAbout {
    .urologyAbout {
      h1 {
        font-size: 43px;
      }
      p {
        font-size: 19px;
        width: 90%;
        margin: 0 auto;
      }
      &--blocks {
        flex-direction: column;
        &__text {
          padding-bottom: 40px;
          h2 {
            line-height: 47px;
            font-size: 34px;
            margin: 0 auto;
            width: 90%;
          }
          p {

          }
        }
        &__title {
          img {
            width: 100%;
            margin: 0 auto;
          }
          &--block {
            right: -10px;
            bottom: 35px;
            &__one {
              padding: 10px 10px 0 10px;
              width: 41%;
              height: 210px;
              h4 {

              }
              h5 {
                line-height: 32px;
                font-size: 41px;
              }
              p {
                line-height: 23px;
                width: 130px;
                font-size: 17px;
              }
            }
            &__two {
              padding: 10px 10px 0 10px;
              width: 41%;
              height: 210px;
              h4 {

              }
              h5 {
                font-size: 41px;
                line-height: 32px;
              }
              p {
                line-height: 23px;
                width: 130px;
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #urologyAbout {
    .urologyAbout {
      h1 {
        font-size: 43px;
      }
      p {
        font-size: 19px;
        width: 90%;
        margin: 0 auto;
      }
      &--blocks {
        flex-direction: column;
        &__text {
          padding-bottom: 40px;
          h2 {
            line-height: 47px;
            font-size: 32px;
            margin: 0 auto;
            width: 90%;
          }
          p {

          }
        }
        &__title {
          img {
            width: 100%;
            margin: 0 auto;
          }
          &--block {
            right: -10px;
            bottom: 35px;
            &__one {
              padding: 10px 10px 0 10px;
              width: 40%;
              height: 210px;
              h4 {

              }
              h5 {
                line-height: 32px;
                font-size: 40px;
              }
              p {
                line-height: 23px;
                width: 130px;
                font-size: 17px;
              }
            }
            &__two {
              padding: 10px 10px 0 10px;
              width: 40%;
              height: 210px;
              h4 {

              }
              h5 {
                font-size: 40px;
                line-height: 32px;
              }
              p {
                line-height: 23px;
                width: 130px;
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #urologyAbout {
    padding-bottom: 300px;
    .urologyAbout {
      h1 {
        font-size: 40px;
      }
      p {
        width: 90%;
        margin: 0 auto;
      }
      &--blocks {
        flex-direction: column;
        &__text {
          padding-bottom: 40px;
          h2 {
            line-height: 40px;
            font-size: 29px;
            margin: 0 auto;
            width: 90%;
          }
          p {
            font-size: 19px;
          }
        }
        &__title {
          img {
            width: 100%;
            margin: 0 auto;
          }
          &--block {
            align-items: center;
            flex-direction: column;
            right: 25px;
            bottom: 0;
            top: 330px;
            &__one {
              padding: 10px 10px 0 15px;
              width: 250px;
              height: 190px;
              margin: 25px 0;
              h4 {

              }
              h5 {
                line-height: 45px;
                font-size: 52px;
              }
              p {
                width: 200px;
              }
            }
            &__two {
              padding: 10px 10px 0 15px;
              width: 250px;
              height: 190px;
              margin-right: 0;
              h4 {

              }
              h5 {
                font-size: 52px;
                line-height: 45px;
              }
              p {
                width: 200px;
              }
            }
          }
        }
      }
    }
  }
}

