#priceTreatmentBraces {
  .priceTreatmentBraces {
    h1 {
      font-size: 45px;
      font-weight: 700;
      color: #161719;
      text-align: center;
      padding-bottom: 50px;
    }
    &--general {
      display: flex;
      justify-content: space-between;
      align-items: start;
      &__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &--block {
          width: 400px;
          height: 50px;
          margin-bottom: 20px;
          border: 3px solid #6CD5FF;
          border-radius: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          background: linear-gradient(45deg, #6CD5FF, white, #6CD5FF);
          h3 {
            color: #161719;
            font-size: 22px;
            font-weight: 600;
          }
        }
        h6 {
          color: #161719;
          font-size: 18px;
          font-weight: 500;
        }
        p {
          width: 350px;
          color: #161719;
          font-size: 18px;
          font-weight: 500;
        }
        h5 {
          color: #161719;
          font-size: 18px;
          font-weight: 500;
          padding-bottom: 15px;
        }
        h4 {
          width: 400px;
          color: #161719;
          font-size: 20px;
          font-weight: 500;
          padding-top: 10px;
          line-height: 30px;
        }
      }
    }
  }
}


@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  #priceTreatmentBraces {
    .priceTreatmentBraces {
      h1 {
        font-size: 43px;
      }
      &--general {
        flex-wrap: wrap;
        justify-content: space-around;
        &__group {
          padding-bottom: 30px;
          &--block {
            h3 {

            }
            h6 {

            }
            p {

            }
            h4 {

            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #priceTreatmentBraces {
    .priceTreatmentBraces {
      h1 {

      }
      &--general {
        flex-wrap: wrap;
        justify-content: space-around;
        &__group {
          padding-bottom: 30px;
          &--block {
            h3 {

            }
            h6 {

            }
            p {

            }
            h4 {

            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #priceTreatmentBraces {
    .priceTreatmentBraces {
      h1 {

      }
      &--general {
        flex-wrap: wrap;
        justify-content: space-around;
        &__group {
          padding-bottom: 30px;
          &--block {
            h3 {

            }
            h6 {

            }
            p {

            }
            h4 {

            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #priceTreatmentBraces {
    .priceTreatmentBraces {
      h1 {
        width: 90%;
        margin: 0 auto;
        line-height: 55px;
        font-size: 42px;
      }
      &--general {
        flex-direction: column;
        align-items: center;
        &__group {
          padding-bottom: 30px;
          &--block {
            width: 450px;
            h3 {

            }
          }
          h6 {
            width: 450px;
          }
          p {
            width: 450px;
          }
          h5 {
            width: 450px;
          }
          h4 {
            width: 450px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #priceTreatmentBraces {
    .priceTreatmentBraces {
      h1 {
        width: 90%;
        margin: 0 auto;
        line-height: 53px;
        font-size: 40px;
      }
      &--general {
        flex-direction: column;
        align-items: center;
        &__group {
          padding-bottom: 30px;
          &--block {
            width: 400px;
            h3 {

            }
          }
          h6 {
            width: 400px;
          }
          p {
            width: 400px;
          }
          h5 {
            width: 400px;
          }
          h4 {
            width: 400px;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #priceTreatmentBraces {
    .priceTreatmentBraces {
      h1 {
        width: 90%;
        margin: 0 auto;
        line-height: 50px;
        font-size: 38px;
      }
      &--general {
        flex-direction: column;
        align-items: center;
        &__group {
          padding-bottom: 30px;
          &--block {
            width: 350px;
            h3 {

            }
          }
          h6 {
            width: 350px;
          }
          p {
            width: 350px;
          }
          h5 {
            width: 350px;
          }
          h4 {
            width: 350px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #priceTreatmentBraces {
    .priceTreatmentBraces {
      h1 {
        width: 90%;
        margin: 0 auto;
        line-height: 44px;
        font-size: 34px;
      }
      &--general {
        flex-direction: column;
        align-items: center;
        &__group {
          padding-bottom: 30px;
          &--block {
            width: 90%;
            h3 {

            }
          }
          h6 {
            width: 90%;
          }
          p {
            width: 90%;
          }
          h5 {
            width: 90%;
          }
          h4 {
            width: 90%;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #priceTreatmentBraces {
    .priceTreatmentBraces {
      h1 {
        width: 90%;
        margin: 0 auto;
        line-height: 44px;
        font-size: 34px;
      }
      &--general {
        flex-direction: column;
        align-items: center;
        &__group {
          padding-bottom: 30px;
          &--block {
            width: 90%;
            h3 {

            }
          }
          h6 {
            font-size: 19px;
            width: 90%;
          }
          p {
            font-size: 19px;
            width: 90%;
          }
          h5 {
            font-size: 19px;
            width: 90%;
          }
          h4 {
            font-size: 19px;
            width: 90%;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #priceTreatmentBraces {
    .priceTreatmentBraces {
      h1 {
        width: 90%;
        margin: 0 auto;
        line-height: 39px;
        font-size: 29px;
      }
      &--general {
        flex-direction: column;
        align-items: center;
        &__group {
          padding-bottom: 30px;
          &--block {
            width: 90%;
            h3 {

            }
          }
          h6 {
            font-size: 18px;
            width: 90%;
          }
          p {
            font-size: 18px;
            width: 90%;
          }
          h5 {
            font-size: 18px;
            width: 90%;
          }
          h4 {
            font-size: 18px;
            width: 90%;
          }
        }
      }
    }
  }
}