#stomatologyHero {
  background: url("../../assets/img/stomatologyHeroBg.png") no-repeat center/cover;
  min-height: 100vh;

  .stomatologyHero {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;

    h1 {
      color: #FFF;
      font-size: 45px;
      font-weight: 800;
    }

    p {
      padding: 15px 0 40px 0;
      width: 849px;
      color: #FFF;
      font-size: 20px;
      font-weight: 400;
    }

    &--buttons {
      a {
        button {
          color: #FFF;
          font-size: 22px;
          font-weight: 500;
          border-radius: 10px;
          border: 2px solid #40B1DE;
          padding: 10px 50px;
          background: transparent;
          position: relative;
          z-index: 1;
          margin-right: 20px;

          &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 100%;
            top: 0;
            right: 0;
            z-index: -1;
            background: rgba(255, 255, 255, 0.62);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5),
            7px 7px 20px 0 rgba(0, 0, 0, .1),
            4px 4px 5px 0 rgba(0, 0, 0, .1);
            transition: all 0.3s ease;
          }

          &:hover {
            color: white;
          }

          &:hover:after {
            left: 0;
            width: 100%;
          }

          &:active {
            top: 2px;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  #stomatologyHero {
    .stomatologyHero {
      h1 {
        width: 100%;
        line-height: 53px;
        font-size: 43px;
      }

      p {
        width: 90%;
        line-height: 28px;
      }
      &--buttons {
        a {
          button {

          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #stomatologyHero {
    .stomatologyHero {
      min-height: 115vh;
      padding-top: 65px;
      h1 {
        width: 100%;
        line-height: 53px;
        font-size: 42px;
      }

      p {
        width: 90%;
        line-height: 28px;
      }
      &--buttons {
        flex-direction: column;
        a {
          button {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #stomatologyHero {
    .stomatologyHero {
      min-height: 120vh;
      padding-top: 70px;
      h1 {
        width: 100%;
        line-height: 49px;
        font-size: 38px;
      }

      p {
        width: 90%;
        line-height: 28px;
      }
      &--buttons {
        a {
          button {
            padding: 10px 45px;
            font-size: 21px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #stomatologyHero {
    .stomatologyHero {
      h1 {
        width: 100%;
        line-height: 44px;
        font-size: 32px;
      }

      p {
        width: 90%;
        font-size: 18px;
        line-height: 28px;
      }
      &--buttons {
        a {
          button {
            padding: 10px 42px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #stomatologyHero {
    .stomatologyHero {
      h1 {
        width: 100%;
        line-height: 44px;
        font-size: 34px;
      }

      p {
        width: 90%;
        font-size: 19px;
        line-height: 28px;
      }
      &--buttons {
        a {
          button {
            padding: 10px 42px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #stomatologyHero {
    .stomatologyHero {
      h1 {
        width: 100%;
        line-height: 38px;
        font-size: 27px;
      }

      p {
        width: 90%;
        font-size: 18px;
        line-height: 28px;
      }
      &--buttons {
        a {
          button {
            padding: 10px 33px;
            font-size: 18px;
          }
        }
      }
    }
  }
}