#maps {
  background: url("../../assets/img/maps.png") no-repeat center/cover;
  max-height: 80vh;

  .maps {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    a {

      button {
        display: flex;
        align-items: center;
        padding: 12px 25px;
        border-radius: 20px;
        border: 1px solid #C5C5C5;
        background: #FFF;
        color: #000;
        font-family: Montserrat Alternates, sans-serif;
        font-size: 16px;
        font-weight: 500;

        &:hover {
          background: #356FFF;
          scale: 1.1;
          color: white;
        }

        &:hover span{
          color: white;
        }

        span {
          color: #356FFF;
          font-size: 25px;
          padding-right: 10px;
          transition: .4s;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 450px) {

}

@media (max-width: 400px) {
  #maps {
    .maps {
      a {
        button {
          padding: 10px 21px;
          font-size: 15px;
          span {

          }
        }
      }
    }
  }
}

@media (max-width: 375px) {

}

@media (max-width: 320px) {

}

