#operation {
  padding: 100px 0;
  .operation {
    h1 {
      text-align: center;
      color: #161719;
      font-size: 45px;
      font-weight: 700;
      padding: 0 0 55px 0;
    }
    p {
      width: 100%;
      color: #161719;
      padding-bottom: 25px;
      font-size: 20px;
      font-weight: 400;
      line-height: 28.9px;
      text-align: center;
    }
  }
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 992px) {
  #operation {
    .operation {
      h1 {
        font-size: 43px;
      }
      p {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 768px) {
  #operation {
    .operation {
      h1 {
        font-size: 43px;
        line-height: 58px;
      }
      p {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 576px) {
  #operation {
    .operation {
      h1 {
        width: 100%;
        font-size: 39px;
        line-height: 48px;
      }
      p {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 450px) {
  #operation {
    .operation {
      h1 {
        width: 90%;
        margin: 0 auto;
        font-size: 37px;
        line-height: 45px;
      }
      p {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 400px) {
  #operation {
    .operation {
      h1 {
        width: 90%;
        margin: 0 auto;
        font-size: 32px;
        line-height: 38px;
      }
      p {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 375px) {
  #operation {
    .operation {
      h1 {
        width: 100%;
        margin: 0 auto;
        font-size: 38px;
        line-height: 52px;
      }
      p {
        font-size: 19px;
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 320px) {
  #operation {
    padding-top: 280px;
    .operation {
      h1 {
        width: 90%;
        margin: 0 auto;
        font-size: 28px;
        line-height: 36px;
      }
      p {
        font-size: 18px;
        width: 90%;
        margin: 0 auto;
      }
      h2 {
        line-height: 45px;
        font-size: 37px;
      }
      h6 {
        font-size: 19px;
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}
