#whiteningDreamSmile {
  padding: 0 0 100px 0;
  .whiteningDreamSmile {
    h1 {
      font-size: 45px;
      font-weight: 700;
      color: #161719;
      padding-bottom: 50px;
      text-align: center;
    }
    h6 {
      width: 90%;
      margin: 0 auto;
      font-size: 22px;
      font-weight: 500;
      color: #161719;
      padding-bottom: 15px;
      line-height: normal;
    }
  }
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  #whiteningDreamSmile {
    .whiteningDreamSmile {
      h1 {
        font-size: 44px;
      }
      h6 {

      }
    }
  }
}

@media (max-width: 1024px) {
  #whiteningDreamSmile {
    .whiteningDreamSmile {
      h1 {
        font-size: 43px;
      }
      h6 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 992px) {
  #whiteningDreamSmile {
    .whiteningDreamSmile {
      h1 {
        font-size: 43px;
      }
      h6 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  #whiteningDreamSmile {
    .whiteningDreamSmile {
      h1 {
        font-size: 42px;
      }
      h6 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 576px) {
  #whiteningDreamSmile {
    .whiteningDreamSmile {
      h1 {
        width: 90%;
        margin: 0 auto;
        line-height: 50px;
        font-size: 41px;
      }
      h6 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 450px) {
  #whiteningDreamSmile {
    .whiteningDreamSmile {
      h1 {
        width: 90%;
        margin: 0 auto;
        line-height: 50px;
        font-size: 39px;
      }
      h6 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 400px) {
  #whiteningDreamSmile {
    .whiteningDreamSmile {
      h1 {
        width: 90%;
        margin: 0 auto;
        line-height: 50px;
        font-size: 37px;
      }
      h6 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 375px) {
  #whiteningDreamSmile {
    .whiteningDreamSmile {
      h1 {
        width: 90%;
        margin: 0 auto;
        line-height: 49px;
        font-size: 37px;
      }
      h6 {
        font-size: 19px;
      }
    }
  }
}

@media (max-width: 320px) {
  #whiteningDreamSmile {
    .whiteningDreamSmile {
      h1 {
        width: 90%;
        margin: 0 auto;
        line-height: 45px;
        font-size: 33px;
      }
      h6 {
        font-size: 18px;
      }
    }
  }
}