#implantationHero {
  background: url("../../assets/img/implantationHeroBg.webp") no-repeat center/cover;
  min-height: 100vh;

  .implantationHeroBlock {
    background: linear-gradient(90deg, #00000099 60%, rgba(79, 85, 101, 0.00) 118.96%);
    min-height: 100vh;

    .implantationHero {
      min-height: 125vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding-top: 70px;

      h1 {
        width: 811px;
        color: #FFF;
        font-size: 44px;
        font-weight: 800;
        line-height: 58px;
      }

      p {
        width: 722px;
        color: #FFF;
        font-size: 23px;
        font-weight: 400;
        padding: 15px 0 25px 0;
        line-height: 32px;
      }

      h5 {
        font-size: 20px;
        font-weight: 400;
        color: white;
        padding-bottom: 5px;
      }

      h6 {
        width: 520px;
        color: #FFF;
        font-size: 23px;
        font-weight: 400;
        padding: 20px 0 30px 0;
        line-height: 35px;
      }

      a {
        button {
          color: #FFF;
          font-size: 22px;
          font-weight: 500;
          border-radius: 10px;
          border: 2px solid #40B1DE;
          padding: 10px 50px;
          background: transparent;
          position: relative;
          z-index: 1;

          &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 100%;
            top: 0;
            right: 0;
            z-index: -1;
            background: rgba(255, 255, 255, 0.62);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5),
            7px 7px 20px 0 rgba(0, 0, 0, .1),
            4px 4px 5px 0 rgba(0, 0, 0, .1);
            transition: all 0.3s ease;
          }

          &:hover {
            color: white;
          }

          &:hover:after {
            left: 0;
            width: 100%;
          }

          &:active {
            top: 2px;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  #implantationHero {
    .implantationHeroBlock {
      .implantationHero {
        padding-top: 80px;
        min-height: 135vh;

        h1 {
          font-size: 44px;
          line-height: 57px;
        }

        p {

        }

        h5 {

        }

        h6 {

        }

        a {
          button {

          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #implantationHero {
    .implantationHeroBlock {
      .implantationHero {
        padding-top: 80px;
        min-height: 135vh;

        h1 {
          font-size: 43px;
          line-height: 56px;
        }

        p {

        }

        h5 {

        }

        h6 {

        }

        a {
          button {

          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #implantationHero {
    .implantationHeroBlock {
      .implantationHero {
        padding-top: 80px;
        min-height: 140vh;

        h1 {
          font-size: 43px;
          line-height: 55px;
        }

        p {

        }

        h5 {

        }

        h6 {

        }

        a {
          button {

          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #implantationHero {
    .implantationHeroBlock {
      .implantationHero {
        padding-top: 80px;
        min-height: 140vh;

        h1 {
          width: 90%;
          font-size: 41px;
          line-height: 51px;
        }

        p {
          width: 90%;
        }

        h5 {

        }

        h6 {

        }

        a {
          button {

          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #implantationHero {
    .implantationHeroBlock {
      .implantationHero {
        padding-top: 70px;
        min-height: 150vh;

        h1 {
          width: 90%;
          font-size: 38px;
          line-height: 48px;
        }

        p {
          font-size: 22px;
          width: 90%;
        }

        h5 {

        }

        h6 {
          width: 90%;
          font-size: 22px;
        }

        a {
          button {

          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #implantationHero {
    .implantationHeroBlock {
      .implantationHero {
        padding-top: 70px;
        min-height: 170vh;

        h1 {
          width: 90%;
          font-size: 37px;
          line-height: 47px;
        }

        p {
          font-size: 22px;
          width: 90%;
        }

        h5 {

        }

        h6 {
          width: 90%;
          font-size: 22px;
        }

        a {
          button {
            padding: 10px 45px;
            font-size: 21px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #implantationHero {
    .implantationHeroBlock {
      .implantationHero {
        padding-top: 70px;
        min-height: 160vh;

        h1 {
          width: 90%;
          font-size: 32px;
          line-height: 42px;
        }

        p {
          font-size: 20px;
          line-height: 30px;
          width: 90%;
        }

        h5 {

        }

        h6 {
          width: 90%;
          font-size: 20px;
          line-height: 30px;
        }

        a {
          button {
            padding: 10px 42px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #implantationHero {
    #implantationHero {
      .implantationHeroBlock {
        .implantationHero {
          padding-top: 75px;
          min-height: 165vh;

          h1 {
            width: 90%;
            font-size: 34px;
            line-height: 44px;
          }

          p {
            font-size: 20px;
            line-height: 30px;
            width: 90%;
          }

          h5 {

          }

          h6 {
            width: 90%;
            font-size: 20px;
            line-height: 30px;
          }

          a {
            button {
              padding: 10px 42px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #implantationHero {
    .implantationHeroBlock {
      .implantationHero {
        padding-top: 75px;
        min-height: 165vh;

        h1 {
          width: 90%;
          font-size: 27px;
          line-height: 39px;
        }

        p {
          font-size: 19px;
          line-height: 30px;
          width: 90%;
        }

        h5 {
          font-size: 19px;
        }

        h6 {
          width: 90%;
          font-size: 19px;
          line-height: 30px;
        }

        a {
          button {
            padding: 10px 33px;
            font-size: 18px;
          }
        }
      }
    }
  }
}