#veneersPlan {
  padding: 0 0 120px 0;
  .veneersPlan {
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //text-align: center;
    h1 {
      font-size: 40px;
      width: 100%;
      padding-bottom: 30px;
      font-weight: 700;
      line-height: 50.03px;
    }
    p {
      font-size: 19px;
      width: 90%;
      padding-bottom: 30px;
      font-weight: 500;
      line-height: 30.03px;
    }
  }
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  #veneersPlan {
    .veneersPlan {
      h1 {
        width: 90%;
        font-size: 40px;
        line-height: 52px;
      }
      p {

      }
    }
  }
}

@media (max-width: 1024px) {
  #veneersPlan {
    .veneersPlan {
      h1 {
        width: 90%;
        font-size: 40px;
      }
      p {

      }
    }
  }
}

@media (max-width: 992px) {
  #veneersPlan {
    .veneersPlan {
      h1 {
        width: 90%;
        font-size: 40px;
      }
      p {

      }
    }
  }
}

@media (max-width: 768px) {
  #veneersPlan {
    .veneersPlan {
      h1 {
        width: 90%;
        font-size: 39px;
        line-height: 48px;
      }
      p {

      }
    }
  }
}

@media (max-width: 576px) {
  #veneersPlan {
    .veneersPlan {
      h1 {
        width: 90%;
        font-size: 36px;
        line-height: 47px;
      }
      p {

      }
    }
  }
}

@media (max-width: 450px) {
  #veneersPlan {
    .veneersPlan {
      h1 {
        width: 100%;
        font-size: 34px;
        line-height: 43px;
      }
      p {

      }
    }
  }
}

@media (max-width: 400px) {
  #veneersPlan {
    .veneersPlan {
      h1 {
        width: 100%;
        font-size: 30px;
        line-height: 39px;
      }
      p {

      }
    }
  }
}

@media (max-width: 375px) {
  #veneersPlan {
    .veneersPlan {
      h1 {
        width: 100%;
        font-size: 30px;
        line-height: 40px;
      }
      p {
        font-size: 18px;
        line-height: 29px;
      }
    }
  }
}

@media (max-width: 320px) {
  #veneersPlan {
    .veneersPlan {
      h1 {
        width: 100%;
        font-size: 26px;
        line-height: 36px;
      }
      p {
        font-size: 18px;
        line-height: 29px;
      }
    }
  }
}

