* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: .4s;
  border: none;
  outline: none;
}

body {
  font-family: Jost, sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #40B1DE;
  background: #FFFFFF;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #40B1DE;
  border-radius: 6px;
}


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Импорт хедера и футера и карты
@import './header/header.scss';
@import 'footer/footer.scss';
@import './maps/maps.scss';

// Импорт секшинов главной страницы
@import './hero/hero.scss';
@import './ourServices/ourServices.scss';
@import './priceList/priceList.scss';
@import './about/about.scss';
@import './ourDoctors/ourDoctors.scss';
@import './faq/faq.scss';
@import './reviews/reviews.scss';


// Импорт секшинов хирургии
@import './hirurgiaHero/hirurgiaHero.scss';
@import './esthete/esthete.scss';
@import './direction/direction.scss';
@import './about/about.scss';
@import './advantages/advantages.scss';
@import './hirurgiaReviews/hirurgiaReviews.scss';


// Импорт секшинов терапии
@import './therapyHero/therapyHero.scss';
@import './reception/reception.scss';
@import './diagnostics/diagnostics.scss';
@import './therapyPriceList/therapyPriceList.scss';


// Импорт секшинов окулиста
@import './okulistHero/okulistHero.scss';
@import './treatment/treatment.scss';
@import './appointment/appointment.scss';
@import './ examination/examination.scss';
@import './okulistAdvantages/okulistAdvantages.scss';
@import './best/best.scss';


// Импорт секшинов лаборатории
@import './labaratoryHero/labaratoryHero.scss';
@import './labaratoryPriceList/labaratoryPriceList.scss';


